html {
    font-family: -apple-system, BlinkMacSystemFont, 
                 'Segoe UI', Roboto,
                 'Helvetica Neue', Helvetica,
                 Arial, sans-serif;
    font-size: 16px;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    color: inherit;
}

header, footer {
    height: 48px;
    background: #24221c;
    color: white;
}

header .container, footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

header .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: inline;
    fill: white;
}
header .links a:last-child .icon {
    margin-right: 0;
}

main {
    overflow-x: hidden;
    margin: 0 auto;
    position: relative;
}

.content-section {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 192px 0;
    text-align: right;
    background: linear-gradient(135deg, #c8c4b7 0%, #918a6f 100%);
    color: #c8c4b7;
    border-color: #918a6f;
}

.content-section:before {
    flex: 25% 0 0;
    display: block;
    box-sizing: border-box;
    content: '*';
    font-size: 96px;
    color: #484537;
    text-align: center;
    font-weight: 800;
}

.content-section:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(25% - 18px);
    width: 36px;
    background: url('../images/vines_green.svg');
    background-repeat: repeat-y;
}

.content-container {    
    flex: 75% 0 0;
    padding: 0 48px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-heading {
    padding: 24px 0;
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    width: 100%;
    text-transform: uppercase;
}

ul.content-list {
    list-style: none;
    margin: 0;
    padding: 24px 0;
    width: 100%;
    font-family: ui-monospace, 
             Menlo, Monaco, 
             "Cascadia Mono", "Segoe UI Mono", 
             "Roboto Mono", 
             "Source Code Pro",
             "Courier New", monospace;
}

.content-section#ben-lucas {
    background: linear-gradient(135deg, #c8c4b7 0%, #918a6f 100%);
    color: #24221c;
    border-color: #c8c4b7;
}

.content-section#ben-lucas:before {
    content: '{}';
    color: #918a6f;
}

.content-section#ben-lucas:after {
    background-image: url('../images/vines_tan.svg');
}

.content-section#professional-interests {
    background: linear-gradient(135deg, #454837 0%, #24221c 100%);
    color: #c4c8b7;
    border-color: #454837;
}

.content-section#professional-interests:before {
    content: '*';
    color: #24221c;
}

.content-section#professional-interests:after {
    background-image: url('../images/vines_green.svg');
}

.content-section#other-interests {
    background: linear-gradient(135deg, #552200 0%, #2b1100 100%);
    color: #ffccaa;
    border-color: #552200;
}

.content-section#other-interests:before {
    content: '&';
    color: #2b1100;
}

.content-section#other-interests:after {
    background-image: url('../images/vines_red.svg');
}

.content-section#superpowers  {
    background: linear-gradient(135deg, #212178 0%, #0b0b28 100%);
    color: #aaaaff;
    border-color: #212178;
}

.content-section#superpowers:before  {
    content: '+';
    color: #0b0b28;
}

.content-section#superpowers:after {
    background-image: url('../images/vines_purple.svg');
}


.content-section#dislikes {
    background: linear-gradient(135deg, #454837 0%, #24221c 100%);
    color: #c4c8b7;
    border-color: #454837;
}

.content-section#dislikes:before {
    content: '!';
    color: #24221c;
}

.content-section#dislikes:after {
    background-image: url('../images/vines_green.svg');
}

.content-section#not-found {
    background: linear-gradient(135deg, #552200 0%, #2b1100 100%);
    color: #ffccaa;
    border-color: #552200;
}

.content-section#not-found:before {
    content: '?';
    color: #2b1100;
}

.content-section#not-found:after {
    background-image: url('../images/vines_red.svg');
}

.content-section[data-transition="true"]:after {
    opacity: 0;
    transition: opacity .5s ease-in;
}

.content-section[data-transition="true"].scrolled:after {
    opacity: 1;
}
.content-section[data-transition="true"]:nth-child(2n + 1) .content-container {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.content-section[data-transition="true"]:nth-child(2n + 1).scrolled .content-container {
    opacity: 1;
}

.content-section[data-transition="true"]:nth-child(2n + 2) .content-container {
    transform: translateX(1000px);
    opacity: 0;
    transition: transform .5s ease-in, opacity .5s ease-in;
}

.content-section[data-transition="true"]:nth-child(2n + 2).scrolled .content-container {
    opacity: 1;
    transform: translateX(0);
}

@media screen and (min-width: 668px) {

    .content-heading {
        letter-spacing: 8px;
    }
    ul.content-list li {
        display: inline;
    }

    ul.content-list li:after {
        content: '//';
        margin: 0 1em;
        font-weight: 300;
    }

    ul.content-list li:last-child:after {
        content: '';
        margin: 0;
    }
}

@media screen and (min-width: 1024px) {
    .content-container {
        flex-direction: row;
        align-items: center;
        height: 240px;
    }

    .content-heading {
        height: 240px;
        line-height: 240px;
        padding-top: 0;
        padding-bottom: 0;
        flex: 50% 0 0;
        text-align: left;
    }
    
    .content-list {
        flex: 50% 0 0;
        text-align: right;
    }
}