html {
    font-family: -apple-system, BlinkMacSystemFont, 
                 'Segoe UI', Roboto,
                 'Helvetica Neue', Helvetica,
                 Arial, sans-serif;
    font-size: 14px;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

header, footer {
    height: 48px;
    background: #24221c;
    font-size: 1.2em;
    color: white;
}

header .container, footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

header a, footer a {
    color: white;
}

main {
    overflow-x: hidden;
    margin: 0 auto;
    position: relative;
}

.content-section {
    padding: 192px 0;
    text-align: right;
    position: relative;
    background: linear-gradient(135deg, #6c6753 0%, #484537 100%);
    color: #24221c;
    border-color: #6c6753;
}

.content-section#ben-lucas {
    background: linear-gradient(135deg, #6c6753 0%, #484537 100%);
    color: #24221c;
    border-color: #6c6753;
}

.content-section#professional-interests {
    background: linear-gradient(135deg, #454837 0%, #24221c 100%);
    color: #c4c8b7;
    border-color: #454837;
}

.content-section#other-interests {
    background: linear-gradient(135deg, #552200 0%, #2b1100 100%);
    color: #ffccaa;
    border-color: #552200;
}

.content-section#superpowers  {
    background: linear-gradient(135deg, #212178 0%, #0b0b28 100%);
    color: #aaaaff;
    border-color: #212178;
}

.content-section#dislikes {
    background: linear-gradient(135deg, #454837 0%, #24221c 100%);
    color: #c4c8b7;
    border-color: #454837;
}

.content-container {
    margin-left: 25%;
    padding: 0 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-section:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 25%;
    width: 0;
    border-left: 4px solid;
    border-right: 4px solid;
    border-color: inherit;
}

.content-section[data-transition="true"]:nth-child(2n + 1) .content-container {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.content-section[data-transition="true"]:nth-child(2n + 1).scrolled .content-container {
    opacity: 1;
}

.content-section[data-transition="true"]:nth-child(2n + 2) .content-container {
    transform: translateX(1000px);
    opacity: 0;
    transition: transform .5s ease-in, opacity .5s ease-in;
}

.content-section[data-transition="true"]:nth-child(2n + 2).scrolled .content-container {
    opacity: 1;
    transform: translateX(0);
}

.content-heading {
    padding: 24px 0;
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    width: 100%;
    text-transform: uppercase;
}

ul.content-list {
    list-style: none;
    margin: 0;
    padding: 24px 0;
    width: 100%;
    font-family: ui-monospace, 
             Menlo, Monaco, 
             "Cascadia Mono", "Segoe UI Mono", 
             "Roboto Mono", 
             "Source Code Pro",
             "Courier New", monospace;
}


@media screen and (min-width: 668px) {

    .content-heading {
        letter-spacing: 8px;
    }
    ul.content-list li {
        display: inline;
    }

    ul.content-list li:after {
        content: '//';
        margin: 0 1em;
        font-weight: 300;
    }

    ul.content-list li:last-child:after {
        content: '';
        margin: 0;
    }
}

@media screen and (min-width: 1024px) {
    .content-container {
        flex-direction: row;
        align-items: center;
        height: 240px;
    }

    .content-heading {
        height: 240px;
        line-height: 240px;
        padding-top: 0;
        padding-bottom: 0;
        flex: 50% 0 0;
        text-align: left;
    }
    
    .content-list {
        flex: 50% 0 0;
        text-align: right;
    }
}